/*-- scss:defaults --*/
$presentation-heading-font: "Montserrat" !default;
$font-family-sans-serif: "Roboto", "Montserrat" !default;

/*-- scss:rules --*/
/* Other font formatting stuff */
.emph { font-family: 'Handlee', cursive; }
.cerulean { color: #249ab5 !important; }
.red { color: #d00000 !important;}
.navy { color: #001226 !important;}
.gray { color: #c7c8ca !important;}

.reveal h1,
.reveal h2 {
  font-family: "Roboto", "Montserrat", sans-serif;}
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Montserrat", sans-serif;}